<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

  <variable name="myvar" value="myvalue" />
  <targets>
    <target name="logfile" xsi:type="File" layout="${longdate} ${message} ${exception:format=tostring}" fileName="${basedir}/Logs/${shortdate}.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="ComparativeRater" />
  </rules>
</nlog>
